<div class="container">

  <div class="box">
    <button (click)="goToAddPatient()">
        <i class="fas fa-user-plus"></i> Hasta Ekle
    </button>
  </div>

  <div class="box">
      <button (click)="goToSearchPatient()">
        <i class="fas fa-edit"></i> Randevu Ver
      </button>
  </div>
  <div class="box">
    <button (click)="goToListAppointments()">
        <i class="fas fa-calendar-check"></i> Randevular
    </button>
  </div>
<!-- 
  <div class="box">
    <button (click)="goToAddDoctor()">
        <i class="fas fa-user-plus"></i> Doktor Ekle
    </button>
  </div>
-->
  <div class="box">
      <button (click)="goToListDoctors()">
          <i class="fas fa-user-md"></i> Doktorlar
      </button>
  </div>

  <div class="box">
    <button (click)="openDialog() ">
        <i class="fas fa-chart-line"></i> Yönetim Paneli
    </button>
  </div>
</div>
