<div class="container">

    <div class="box">
      <button (click)="goToAddDoctor()">
          <i class="fas fa-user-plus"></i> Doktor Ekle
      </button>
    </div>

    <div class="box">
        <button (click)="goToListDoctors()">
            <i class="fas fa-user-md"></i> Doktorlar
        </button>
    </div>
  
    <div class="box">
      <button (click)="goToDashboard()">
          <i class="fas fa-chart-line"></i> Randevu Durum İstatistikleri
      </button>
    </div>
    <div class="box">
      <button (click)="goToAppointmentlist()">
         <i class="fas fa-calendar-check"></i> Randevular
      </button>
    </div>
  
  </div>
  